@font-face {
  font-family: 'iconfont';  /* Project id 4787955 */
  src: url('https://at.alicdn.com/t/c/font_4787955_c3cehprqint.woff2?t=1741780720152') format('woff2'),
       url('https://at.alicdn.com/t/c/font_4787955_c3cehprqint.woff?t=1741780720152') format('woff'),
       url('https://at.alicdn.com/t/c/font_4787955_c3cehprqint.ttf?t=1741780720152') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dizhi:before {
  content: "\e868";
}

.icon-cha:before {
  content: "\e61c";
}

.icon-gouwuche:before {
  content: "\e635";
}

.icon-sangedian:before {
  content: "\e615";
}

.icon-shangjiantou:before {
  content: "\e633";
}

.icon-xiajiantou:before {
  content: "\e642";
}

.icon-neicun:before {
  content: "\e63e";
}

.icon-cpu:before {
  content: "\e644";
}

.icon-wangluo:before {
  content: "\e609";
}

.icon-youjiantou:before {
  content: "\e612";
}

.icon-lingdang:before {
  content: "\e8c0";
}

.icon-kefu:before {
  content: "\e88f";
}

.icon-shoucang:before {
  content: "\e627";
}

.icon-dianchi:before {
  content: "\e654";
}

.icon-fenbianshuai:before {
  content: "\e6b5";
}

.icon-zuojiantou:before {
  content: "\e600";
}

.icon-shangchuan:before {
  content: "\e691";
}

.icon-bayonet-camera:before {
  content: "\e964";
}

.icon-dagou:before {
  content: "\e61f";
}

.icon-dingdan:before {
  content: "\e897";
}

.icon-shuaxin:before {
  content: "\e8aa";
}

.icon-zhiding_o:before {
  content: "\eb9e";
}

.icon-daishou:before {
  content: "\e630";
}

.icon-tuihuanhuo:before {
  content: "\e625";
}

.icon-daipingjia:before {
  content: "\e643";
}

.icon-qianbao:before {
  content: "\e6b9";
}

.icon-shanchu:before {
  content: "\e852";
}

.icon-daifukuan:before {
  content: "\e602";
}

.icon-saoyisao:before {
  content: "\e8b5";
}

.icon-sousuo:before {
  content: "\e60a";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-fenlei1:before {
  content: "\e71b";
}

.icon-shezhi:before {
  content: "\e624";
}

.icon-xiaoxi:before {
  content: "\e641";
}

.icon-shouye:before {
  content: "\e617";
}

